.catContainer {
  height: 40rem;
  margin-top: -1rem;
  background-color: white;
  padding: 50px 0;
  border: 1px solid red;
}

.catTitles {
  line-height: none !important;
}

.catTitle {
  font-size: 45px;
  line-height: none !important;
}

.catTitle span {
  color: rgb(197, 90, 108);
  line-height: none !important;
}

.Product {
  display: grid;
  width: 100%;
  grid-template-columns: 30% auto;
}
.productG span {
  margin-left: 1rem;
  text-align: center;
}

.menue {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}
.menue > li {
 
}
.menue > li:hover {
  color: pink;
  cursor: pointer;
}

.list {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: 30rem;
  overflow-y: scroll;
  grid-gap: 1rem;
  justify-content: space-between;
}

.product {
  width: 12rem;
  height: 8rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  display: flex;
}

.product > img {
  border-radius: 10px;
}

.sidebar {
  line-height: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* padding-top: 5%; */
  /* background: red; */
  padding-left: 5rem;
}

.profiles {
  flex: 3;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 30px;
}
