/* Default styling */
.heroContainer {
  width: 100%;
  max-height: 30rem;
  background-color: white;
  margin-top: 0;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content:space-around;
  right:0rem;
  border: 1px solid red;
}

.heroLeftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 7rem 0;
  margin-left: 1rem;
  width: 50%;
}

.heroLeftTop {
  line-height: 0;
}

.heroLeftTop .topTitle {
  font-size: 12px;
  color: rgb(214, 117, 133);
}
.semiCiclr1{

  position : absolute;
  top:-7rem;
  left: -10rem;
  width:50%;
  height: 15%;
}
.heroLeftTop h1 {
  font-size: 50px;
}

.heroLeftTop .bottomTitle {
  font-size: 28px;
  padding-top: 1rem;
}

.heroLeftBottom {
  padding-bottom: 20rem;
}

.heroLeftBottom p {
  color: gray;
  font-size: 14px;
}

.heroLeftBottom button {
  height: 2.6rem;
  width: 8.5rem;
  background: rgb(197, 90, 108);
  color: white;
  border: none !important;
  border-radius: 20px;
  cursor: pointer;
}

.heroRightContainer {
  position: relative;
  width: 40%;
  margin-top:100px !important;
  margin-right: -0rem;
  
}

.heroRightContainer .dataLabel {
  max-width: 300px;
  height: 160px;
  background: #a2d3d061;
  border-radius: 15px;
  position: absolute;
  top: -2rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
}

.dataLabel .leftSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.dataLabel .leftSide .Rev {
  font-size: 35px;
  font-weight: bold;
}

.dataLabel .leftSide .percentage {
  display: flex;
  align-items: center;
}

.dataLabel .leftSide .RevPer {
  color: red;
}

.dataLabel .barChart {
  width: 60%;
}

.heroRightContainer .rightContainerPic {
  position: absolute;
  top: -2rem;
  right: 21rem;
  max-width: 180px;
  width: 140px;
  height: 160px;
}

.heroRightContainer .rightContainerPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.heroRightContainer .rightContainerPic2 {
  width: 190px;
  height: 180px;
  position: absolute;
  top: 9rem;
  right: 1.5rem;
}

.heroRightContainer .rightContainerPic2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.heroRightContainer .img2 {
  
  position: relative;
  top: 23rem;
  width: 60%;
  right: -11rem;
}

.heroRightContainer .progressMeter {
  position: absolute;
  top: 9rem;
  right: 15rem;
}

