.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: white;
  z-index: 10;
  position: relative;

  margin-top: 0rem;
  border: 1px solid red;
  bottom: 0;
}

.nav-container {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

.nav-logo {
  align-items: center;
  margin-left: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  gap: 3vw;
  list-style:none;
}
/* } */

.nav-links {
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  list-style: none;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 30px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: rgb(197, 90, 108);
}

.nav-item .active {
  color: rgb(197, 90, 108);
  border-bottom: 1px solid rgb(197, 90, 108);
  
}

.nav-icon {
  display: none;
}

.subscribeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 15%;
}

.subscribeButton button {
  height: 2rem;
  width: 5rem;
  border-radius: 15px;
  border: none !important;
  background: rgb(197, 90, 108);
  color: white;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5vw;
    border-top: 1px solid #d0d317;
    position: absolute;
    top: 23px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgb(197, 90, 108);
    left: 0px;
    opacity: .9;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #121488;
    border: none;
  }
  .nav-links {
    /* padding: 1.5rem; */
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(197, 90, 108);
  }

  .subscribeButton {
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    margin: 0 auto;
    width: 50%;
  }
  
  .subscribeButton button {
    height: 2rem;
    width: 5rem;
    border-radius: 15px;
    border: none !important;
    background: rgb(197, 90, 108);
    color: white;
  }
  
}